body{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: larger;
}

h2{
    text-decoration: underline;
}

/*
iframe{
    width: 426px;
    height: 240px;
}
*/

video{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.vidtitle{
    margin-left: 175px;
    margin-right: 175px;
}

.sign{
    border: 0px;
    border-bottom: solid 1px black;
    background-color: transparent;
    margin-bottom: 5px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
}

ol li{
    margin-bottom: 5px;
}

#intro{
    background-color: rgba(255, 119, 0, 0.7);
}

#req1{
    background-color: rgba(80, 120, 255, 0.8);
}

#req2{
    background-color: rgba(80, 120, 255, 0.65);
}

#req3{
    background-color: rgba(80, 120, 255, 0.5);
}

.vidtitle{
    margin-top: 5px;
    font-size: larger;
}

#req4{
    background-color: rgba(80, 120, 255, 0.35);
}

#req5{
    background-color: rgba(80, 120, 255, 0.25);
}

#end{
    background-color: rgba(75, 255, 75, 0.6);
}


#pledge {
    margin-left: 40%;
    text-align: left;
}

#requirements{
    text-align: left;
    display: inline-block;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

textarea{
    border: solid 3px black;
    font-family:monospace
}